@font-face {
  font-family: 'Quicksand_Bold_Oblique';
  src: url('../fonts/Quicksand_Bold_Oblique.otf')
}
@font-face {
  font-family: 'Quicksand_Bold';
  src: url('../fonts/Quicksand_Bold.otf')
}
@font-face {
  font-family: 'Quicksand_Book_Oblique';
  src: url('../fonts/Quicksand_Book_Oblique.otf')
}
@font-face {
  font-family: 'Quicksand_Book';
  src: url('../fonts/Quicksand_Book.otf')
}
@font-face {
  font-family: 'Quicksand_Dash';
  src: url('../fonts/Quicksand_Dash.otf')
}
@font-face {
  font-family: 'Quicksand_Light_Oblique';
  src: url('../fonts/Quicksand_Light_Oblique.otf')
}
@font-face {
  font-family: 'Quicksand_Light';
  src: url('../fonts/Quicksand_Light.otf')
}

form {
  text-align: center;
}
html, body {
  height: 100%;
  min-height: 100%;
}
body{
  margin: 0;
  paddding: 0;
}

.wrapper{
  background-image: url("../Images/backgrounds/desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  min-width: 950px;
}

.login_box{
  font-family: 'Quicksand_Book', sans-serrif;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 7%;
  width: 25%;
  background-color: #FFFFFF;
  border: 2px solid #323377;
  border-radius: 20px;
  padding: 5px;
  opacity: .80;
}

.login_header{
  width: 100%;
  height: 10%;
  margin-bottom: 5;
  background-color: #323377;
  color: #FFFFFF;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

a{
  text-decoration: none;
  color: #323377;
  font-size: 75%;
}

.login_header h2 {
  font-family: 'Quicksand_Bold', sans-serrif;
  margin-top: 0;
  margin-bottom: 2;
  color: #FFFFFF;
  text-shadow: #9aadce 0.5px 0.5px 0;
  font-size: 207%;
}
input[type='text'], input[type='email'], input[type='password']{
  border: 1px solid #323377;
  margin-top: 5px;
  border-radius: 3px;
}

input[type='submit']{
  font-family: 'Quicksand_Bold', sans-serrif;
  background-color: #323377;
  border: 1px solid #d6f2ff;
  padding: 5px 10px 5px 10px;
  margin: 5px 0px 10px 0px;
  color: #FFFFFF;
  border-radius: 3px;
}

#second{
  display: none;
}
